<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <!-- Open Graph Protocol -->
    <!-- <meta property ="og:title" content="our menu">
    <meta property = "og: type" content ="website">
    <meta property ="og:url" content="http://127.0.0.1:5500/meta-course/Template/index.html">
    <meta property ="og:image" content="http://127.0.0.1:5500/meta-course/Template/images/">
     -->

    <link rel="stylesheet" href="CSS/styles.css">
</head>
<body>

    <header>

        <nav>

        </nav>

    </header> 
    
    <main>
        <h1>Heading</h1>
    </main>
    <footer>
        <p>footer</p>
    </footer>

    <script src="Js/scripts.js">

    </script>

</body>
</html>